# Over time, we intend to format python files in this repo using isort and black.
# At the moment, we are *only formatting any changed or added files*
# We have not implemented any sort of automation (e.g. pre-commit)

black==22.12.0      # google-cloud-bigquery 2.34.4 requires packaging<22.0dev
isort==5.12.0
