eth-hash==0.3.3                             # Fixes install conflicts issue in Composer
polygon-etl==0.3.7
web3==5.31.0                                # Fixes install conflicts issue in Composer

google-api-core==2.8.1                      # matches `composer-2.1.14-airflow-2.5.1`
google-cloud-bigquery==2.34.4               # matches `composer-2.1.14-airflow-2.5.1`
google-cloud-storage==2.7.0                 # matches `composer-2.1.14-airflow-2.5.1`
jinja2==3.1.2                               # matches `composer-2.1.14-airflow-2.5.1`
