# Intended to match `composer-2.0.16-airflow-2.2.5` packages closely
# https://cloud.google.com/composer/docs/concepts/versioning/composer-versions#images

apache-airflow[gcp]==2.2.5
Flask==1.1.2
google-cloud-bigquery==2.34.3
google-cloud-storage==1.44.0
jsonschema==3.2.0
