name: Publish DockerHub

on:
  push:
    tags:
       - '*'

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@master
      - name: Publish to DockerHub
        if: startsWith(github.event.ref, 'refs/tags/v')
        uses: elgohr/Publish-Docker-Github-Action@2.18
        with:
          name: blockchainetl/polygon-etl
          workdir: cli
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tag_semver: true